.file-name {
    background-color: $offWhite;
    margin: 0 auto;
    padding: .2rem;
    width: 90%;

    span {
        color: red;
        cursor: pointer;
        float: right;
        padding-right: .5rem;
    }
}