.album {
   @extend .feed;
}

.album-details {
    display: flex;
    flex-direction: column;
}

.album-details__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 20rem;

    @media(min-width: $smallScreen) {
        flex-direction: row-reverse;
        justify-content: space-between;
    }
}

.album-details__container__thumb {
    width: 100%;
    height: 20rem;
    min-height: 20rem;
    min-width: 20rem;
    max-width: 20rem;
    max-height: 20rem;
    margin: 0 auto;
    background-size: cover;

    @media(min-width: $smallScreen) {
        margin: 0;
    }

    @media(min-width: $mediumScreen) {
        width: 40rem;
        min-width: 40rem;
        min-height: 40rem;
    }
}

.album-details__container__artist {
    
}

.album-details__container__content,
.MuiCardContent-root-40 {
    padding-bottom: 1rem !important;
    max-height: 20rem;

    @media(min-width: $largeScreen) {
        padding: 5rem .5rem .5rem 5rem !important;

        p {
            font-size: 1.8rem;
        }
    }
}

.album-details__container__content__edit {
    margin-top: 2rem;
}