.artist {
    @extend .feed;
}

.artist-details {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.artist-details__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 20rem;

    @media(min-width: $smallScreen) {
        flex-direction: row;
        justify-content: space-between;
    }
}

.artist-details__container__thumb {
    width: 100%;
    height: 20rem;
    min-height: 20rem;
    min-width: 20rem;
    max-width: 20rem;
    max-height: 20rem;
    margin: 0 auto;
    background-size: cover;

    @media(min-width: $smallScreen) {
        margin: 0;
    }

    @media(min-width: $mediumScreen) {
        width: 40rem;
        min-width: 40rem;
        min-height: 40rem;
    }
}

.artist-details__container__artist {}

.artist-details__container__content,
.MuiCardContent-root-40 {
    padding-bottom: 1rem !important;
    max-height: 20rem;

    @media(min-width: $largeScreen) {
        padding: 5rem !important;

        p {
            font-size: 1.8rem;
        }
    }
}

.artist-details__container__content__edit {
    margin-top: 2rem;
}

.artist-details__container__content__about {
    display: flex;
    flex-direction: column;

    @media (min-width: $smallScreen) {
        flex-direction: row;
        justify-content: space-between;
    }
}

.artist-details__container__about__info {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 1rem;

    @media (min-width: $smallScreen) {
        justify-content: baseline;
    }

    p {
        font-size: 2rem;
        margin: 2rem 0;
    }
}