.single-album {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;

    @media(min-width: $smallScreen) {
        justify-content: space-between;
        flex-direction: row;
    }
}