.header {
    background-color: $GoluxBlue;
    display: flex;
    justify-content: center;
    flex-direction: column;
    left: 0;
    min-height: 15rem;
    overflow: auto;
    padding: 3rem;
    top: 0;
    width: 100%;
    z-index: 80;
}

.header__container {
    display: flex;
    flex-direction: row;
    padding: 0;
    position: relative;
    width: 15rem;

    @media (min-width: $mediumScreen) {
        width: 25rem;
    }
}

.header__container__icon {
    color: white;

    .MuiSvgIcon-root-1 {
        font-size: 8rem;
    }
}

.header__container__message {
    color: white;
    font-size: 4rem;
    padding: 0 2rem;
}