@font-face {
    font-family: "Marvel";
    src: url("https://fonts.gstatic.com/s/marvel/v7/nwpVtKeoNgBV0qa4llTF.woff2") format('woff2');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: "Marvel", sans-serif;
}

li {
    width: 100%;

    @media(min-width: $mediumScreen) {
        display: inline-block;
        margin: 1.6%;
        width: 30%;
    }
}

a {
    text-decoration: none;
}

.feed {
    margin: 0 auto;
    width: 100%;

    @media(min-width: $mediumScreen) {
        width: 80%;
    }
}

.upload-button {
    margin: 2rem 0;
    padding-bottom: 1rem;
    border-bottom: .1rem solid grey;
    width: 100%;
}

.control-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.no-data-message {
    font-size: 2rem;
    margin: 0 auto;
    padding: 1rem;
    width: 80%;
}

.add-button {
    a {
        color: white;
    }

    display: flex;
    flex-direction: row-reverse;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}

.remove-button {
    button {
        color: black;
        font-size: 0.875rem;
        margin: 0;
        padding: 0;

        @media (min-width: $largeScreen) {
            font-size: 1.8rem;
        }
    }
}