.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0 auto;
    width: 80%;
}

.container__app {
    flex: 1 0 auto;
    margin: 0 auto;
    overflow: auto;
    position: relative;
    width: 100%;
}