@font-face {
  font-family: "Marvel";
  src: url("https://fonts.gstatic.com/s/marvel/v7/nwpVtKeoNgBV0qa4llTF.woff2") format("woff2");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "Marvel", sans-serif;
}

li {
  width: 100%;
}

@media (min-width: 768px) {
  li {
    display: inline-block;
    margin: 1.6%;
    width: 30%;
  }
}

a {
  text-decoration: none;
}

.feed,
.album,
.artist {
  margin: 0 auto;
  width: 100%;
}

@media (min-width: 768px) {

  .feed,
  .album,
  .artist {
    width: 80%;
  }
}

.upload-button {
  margin: 2rem 0;
  padding-bottom: 1rem;
  border-bottom: .1rem solid grey;
  width: 100%;
}

.control-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.no-data-message {
  font-size: 2rem;
  margin: 2rem auto;
  padding: 1rem;
  width: 80%;
}

.add-button {
  display: flex;
  flex-direction: row-reverse;
  position: absolute;
  bottom: 1rem;
  right: 20rem;
}

.add-button a {
  color: white;
}

.remove-button button {
  color: black;
  font-size: 0.875rem;
  margin: 0;
  padding: 0;
}

@media (min-width: 992px) {
  .remove-button button {
    font-size: 1.8rem;
  }
}

.single-album {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

@media (min-width: 300px) {
  .single-album {
    justify-content: space-between;
    flex-direction: row;
  }
}

.single-artist {
  max-width: 345;
}

.home-page__container header {
  background-color: #EEEEEE;
  color: black;
  flex-grow: 1;
}

.home-page__container div ul {
  margin: 0 auto;
  width: 66%;
}

.album-details {
  display: flex;
  flex-direction: column;
}

.album-details__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 20rem;
}

@media (min-width: 300px) {
  .album-details__container {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}

.album-details__container__thumb {
  width: 100%;
  height: 20rem;
  min-height: 20rem;
  min-width: 20rem;
  max-width: 20rem;
  max-height: 20rem;
  margin: 0 auto;
  background-size: cover;
}

@media (min-width: 300px) {
  .album-details__container__thumb {
    margin: 0;
  }
}

@media (min-width: 768px) {
  .album-details__container__thumb {
    width: 40rem;
    min-width: 40rem;
    min-height: 40rem;
  }
}

.album-details__container__content,
.MuiCardContent-root-40 {
  padding-bottom: 1rem !important;
  max-height: 20rem;
}

@media (min-width: 992px) {

  .album-details__container__content,
  .MuiCardContent-root-40 {
    padding: 5rem .5rem .5rem 5rem !important;
  }

  .album-details__container__content p,
  .MuiCardContent-root-40 p {
    font-size: 1.8rem;
  }
}

.album-details__container__content__edit {
  margin-top: 2rem;
}

.artist-details {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.artist-details__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 20rem;
}

@media (min-width: 300px) {
  .artist-details__container {
    flex-direction: row;
    justify-content: space-between;
  }
}

.artist-details__container__thumb {
  width: 100%;
  height: 20rem;
  min-height: 20rem;
  min-width: 20rem;
  max-width: 20rem;
  max-height: 20rem;
  margin: 0 auto;
  background-size: cover;
}

@media (min-width: 300px) {
  .artist-details__container__thumb {
    margin: 0;
  }
}

@media (min-width: 768px) {
  .artist-details__container__thumb {
    width: 40rem;
    min-width: 40rem;
    min-height: 40rem;
  }
}

.artist-details__container__content,
.MuiCardContent-root-40 {
  padding-bottom: 1rem !important;
  max-height: 20rem;
}

@media (min-width: 992px) {

  .artist-details__container__content,
  .MuiCardContent-root-40 {
    padding: 5rem !important;
  }

  .artist-details__container__content p,
  .MuiCardContent-root-40 p {
    font-size: 1.8rem;
  }
}

.artist-details__container__content__edit {
  margin-top: 2rem;
}

.artist-details__container__content__about {
  display: flex;
  flex-direction: column;
}

@media (min-width: 300px) {
  .artist-details__container__content__about {
    flex-direction: row;
    justify-content: space-between;
  }
}

.artist-details__container__about__info {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 1rem;
}

@media (min-width: 300px) {
  .artist-details__container__about__info {
    justify-content: baseline;
  }
}

.artist-details__container__about__info p {
  font-size: 2rem;
  margin: 2rem 0;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.container__app {
  flex: 1 0 auto;
  margin: 0 auto;
  overflow: auto;
  position: relative;
  width: 100%;
}

.footer {
  background-color: #2EA2DC;
  color: white;
  font-size: 1.4rem;
  flex-shrink: 0;
  letter-spacing: .2rem;
  line-height: 1;
  margin: 0;
  padding: 5rem 0;
  text-align: center;
  text-transform: uppercase;
}

.footer__container--copyright-message {
  margin-top: 1rem;
}

.header {
  background-color: #2EA2DC;
  display: flex;
  justify-content: center;
  flex-direction: column;
  left: 0;
  min-height: 15rem;
  overflow: auto;
  padding: 3rem;
  top: 0;
  width: 100%;
  z-index: 80;
}

.header__container {
  display: flex;
  flex-direction: row;
  padding: 0;
  position: relative;
  width: 15rem;
}

@media (min-width: 768px) {
  .header__container {
    width: 25rem;
  }
}

.header__container__icon {
  color: white;
}

.header__container__icon .MuiSvgIcon-root-1 {
  font-size: 8rem;
}

.header__container__message {
  color: white;
  font-size: 4rem;
  padding: 0 2rem;
}

. {
  overflow: auto;
}

.file-name {
  background-color: #EEEEEE;
  margin: 0 auto;
  padding: .2rem;
  width: 90%;
}

.file-name span {
  color: red;
  cursor: pointer;
  float: right;
  padding-right: .5rem;
}
.artist-list {
  margin: 0 auto;
  width: 80%;
}

/*# sourceMappingURL=styles.css.map */